@use '../../styles/variables.scss' as vars;
.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: vars.$spacing-lg;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}
