/* button.component.scss */
button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 0 24px !important;
}

mat-progress-spinner {
  width: 20px !important;
  height: 20px !important;
}