<mat-toolbar class="app-footer" color="primary">
  <div class="footer-left">
    <img src="assets/angular-dashboard-logo.png" alt="Brand Logo" class="footer-logo" />
    <span class="footer-company">Angular Dashboard</span>
    <mat-divider [vertical]="true"></mat-divider>
    <span class="footer-desc">Accelerated Innovation</span>
  </div>
  
  <span class="footer-spacer"></span>
  
  <div class="footer-right">
    <span class="footer-version">v2.0.0</span>
    <mat-divider [vertical]="true"></mat-divider>
    <span class="footer-copyright">© 2025 Suhaib Janjua</span>
  </div>
</mat-toolbar>
